<html>


<form action="/submitUserDetails" method="get">


<div>
<label> First Name </label>

{{ form.firstname }}
</div>

<div>
<label> Last Name </label>
{{ form.lastname }}
</div>


<div>
<label> Age </label>

{{ form.age }}
</div>

<div>
<label> Email </label>

{{ form.email }}
</div>

<input type="submit" value="Sign Up!"> 

</html>

